/* color palette from <https://github.com/vuejs/theme> */
:root {
	--vt-c-white: #FFFFFF;
	--vt-c-white-light: #F1F2F6;

	--vt-c-grey: #8292AC;
	--vt-c-grey-mediun: #727E8D;
	--vt-c-grey-dark: #565656;
	
	--vt-c-black-light: #2F3543;
	--vt-c-black: #000000;

	--vt-c-green-light: #79EC9D;
	--vt-c-green: #2DD671;
	
	--vt-c-red-light: #FF6A80;
	--vt-c-red: #FF4757;

	--vt-c-orange: #F24E1E;
	--vt-c-orange-light: #FF6448;


	--vt-c-orange: #FEA501;
	--vt-c-orange-light: #EFCB69;

	--vt-c-blue: #3842FB;
}

/* semantic color variables for this project */
:root {
	--color-background-pag: var(--vt-c-white-light);
	--color-background-grap: var(--vt-c-grey-mediun);
	--color-background-cardInPag: var(--vt-c-grey);

	--color-border: var();
	/* --color-border-hover: var(--vt-c-divider-light-1); */

	--color-iconHouese: var(--vt-c-green-light);
	--color-iconHeartBig: var(--vt-c-red-light);

	--color-text: var(--vt-c-black);

	--color-background-card: var(--vt-c-white);

	--color-iconStartEmpty: var(--vt-c-white);
	--color-iconStart: var(--vt-c-blue);

	--color-powerBar: var(--vt-c-orange-light);
	--color-powerBarMedium: var(--vt-c-orange);
	--color-powerBarLarge: var(--vt-c-green);

	--color-iconHeartCard: var(--vt-c-grey-dark);
	--color-iconHeartSelect: var(--vt-c-red);
	
}

/* @media (prefers-color-scheme: dark) {
	:root {
		--color-background: var(--vt-c-black);
		--color-background-soft: var(--vt-c-black-soft);
		--color-background-mute: var(--vt-c-black-mute);

		--color-border: var(--vt-c-divider-dark-2);
		--color-border-hover: var(--vt-c-divider-dark-1);

		--color-heading: var(--vt-c-text-dark-1);
		--color-text: var(--vt-c-text-dark-2);
	}
} */
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	position: relative;
	font-weight: normal;
}

body {
	min-height: 100vh;
	color: var(--color-text);
	background: var(--color-background);
	transition: color 0.5s, background-color 0.5s;
	line-height: 1.6;
	font-family:'Comic Sans MS';
	font-size: 15px;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
