@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300;700&display=swap");

:root {
	--vt-c-white: #ffffff;
	--vt-c-white-light: #f1f2f6;

	--vt-c-grey: #8292ac;
	--vt-c-grey-mediun: #727e8d;
	--vt-c-grey-dark: #565656;

	--vt-c-black-light: #2f3543;
	--vt-c-black: #000000;

	--vt-c-green-light: #79ec9d;
	--vt-c-green: #2dd671;
	--vt-c-green-transparent: #42c4c493;

	--vt-c-red-light: #ff6a80;
	--vt-c-red: #ff4757;

	--vt-c-orange: #f24e1e;
	--vt-c-orange-light: #ff6448;

	--vt-c-orange: #fea501;
	--vt-c-orange-light: #efcb69;

	--vt-c-blue: #3842fb;
}

/* semantic color variables for this project */
:root {
	--color-background-pag: var(--vt-c-black);
	--color-background-grap: var(--vt-c-grey-mediun);
	--color-background-cardInPag: var(--vt-c-grey);

	--color-iconHouese: var(--vt-c-green-light);
	--color-iconHeartBig: var(--vt-c-red-light);

	--color-text: var(--vt-c-black);

	--color-background-card: var(--vt-c-white-light);
	--color-background-card-transparent: var(--vt-c-green-transparent);

	--color-iconStartEmpty: var(--vt-c-white);
	--color-iconStart: var(--vt-c-blue);

	--color-powerBar: var(--vt-c-orange-light);
	--color-powerBarMedium: var(--vt-c-orange);
	--color-powerBarLarge: var(--vt-c-green);

	--color-iconHeartCard: var(--vt-c-grey-dark);
	--color-iconHeartSelect: var(--vt-c-red);
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-background: var(--vt-c-black);
		--color-background-soft: var(--vt-c-black-soft);
		--color-background-mute: var(--vt-c-black-mute);
		--color-background-pag: var(--vt-c-white);

		--color-border: var(--vt-c-divider-dark-2);
		--color-border-hover: var(--vt-c-divider-dark-1);

		--color-heading: var(--vt-c-grey-dark);
		--color-text: var(--vt-c-white-light);
	}
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	position: relative;
	font-weight: normal;
}

html {
	scroll-behavior: smooth;
}

body {
	min-height: 100vh;
	color: var(--color-text);
	background: var(--color-background);
	transition: color 0.5s, background-color 0.5s;
	line-height: 1.6;
	font-family: "Comic Neue";
	font-size: 15px;

	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}